* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  --header1: calc(2rem + 1vw);
  --header2: calc(3.5rem + 1vw);
  --header3: calc(3rem + 1vw);
  --header4: calc(2.4rem + 1vw);
  --text: calc(1.5rem + 1vw);
  --big: calc(6rem + 1vw);
}

body {
  overflow-x: hidden;
}

h1 {
  font-size: var(--header1);
}

h2 {
  font-size: var(--header2);
}

h3 {
  font-size: var(--header3);
}

h4,
h5 {
  font-size: var(--header4);
}

button,
label,
input,
a,
p {
  font-size: var(--text);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #263238;
}

/***Navbar style***/
.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f8f1f1;
  min-height: 11vh;
}

.navbar__menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar__menu li {
  padding: 0rem 4rem;
}

.navbar__menu li a:hover {
  color: #006829;
}

.navbar__menu li a {
  font-size: 1.8rem;
}

.navbar__toggleBtn {
  display: none;
}

.navbar__logo__mobile {
  display: none;
}

/***Hero section***/
.hero {
  min-height: 89vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)),
    url(./assets/hero_img.png);
  background-size: cover;
  background-position: center;
  position: relative;
  color: #f8f1f1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero p {
  padding: 5rem;
}

@media screen and (max-width: 768px) {
  /***Responsive navbar style***/
  .navbar {
    flex-direction: column;
    align-items: center;
    min-height: 7vh;
    padding: 1.2rem 1.2rem;
  }

  .navbar__menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navbar__menu li {
    width: 100%;
    text-align: center;
  }

  .navbar__logo {
    display: none;
  }

  .navbar__logo__mobile {
    display: flex;
  }

  .logo__mobile__img {
    width: 10rem;
  }

  .navbar__toggleBtn {
    display: block;
    position: absolute;
    right: 2.3rem;
    top: 3.4rem;
    font-size: 2.7rem;
    color: #263238;
  }

  .navbar__menu.active {
    display: flex;
  }
}
